{% block content %}

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}/js/test.js"></script>
	{% if not user.is_authenticated %}
	    <h1 style="margin-left:15%;margin-top:22%;">To use this application, you need to login (Instagram only)
		</br>
		<small>
		   <a href="/accounts/login" style="margin-left:27%;">please click here to login</a>
	    	</small>
	    </h1>
	{% else %}
		<br/>
		<div style="margin-left:15px;" >Singned in as <span class="label label-success">{{ user.get_username }}</span>
			<a href="/accounts/logout"> logout</a>
		</div>
		<div class="alert alert-info" role="alert" style="margin-left: 15px;margin-right: 15px;margin-top:20px;">To Check out the Geotagged pictures of a place, Enter address of the place, please be specific, picodes would fetch better results</div>
 		<div class="checkbox" style="margin-left:15px;">
 		  <label>
 		    <input class="locations_checked" type="checkbox"> Use Media search end point of Instagram Api ( Default one is locations end point )
 		  </label>
 		</div>	
		<form class="get_pic_form navbar-form " role="search" style="display:none;">
  		    <input class="form-control lat_field" type="text" placeholder="Latitude (E)" name="latitude" style="margin-top:1%;"><br>
		    <input class="form-control lng_field" type="text" placeholder="Longitude (N)" name="longitude" style="margin-top:1%;"><br>
		    <input class="btn btn-default submit_form" type="button" value="Submit form" style="margin-left:3%;margin-top:1%;">
		</form>
		<br/>
		<form class="get_location_form navbar-form " role="search">
  		    <input class="form-control" type="text" placeholder="Adress" name="address" style="margin-top:1%;"><br>
		    <input class="btn btn-default submit_form_loc" type="button" value="Submit form" style="margin-left:3%;margin-top:1%;">
		</form>
		
	<button style="margin-left:4%;margin-bottom:1%;" class="clear btn" style="display:none;">clear pictures</button>
	<style>
	.clear{
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	</style>
	<div id="image_container" style="border:1px solid #ABABAB"></div>
	{% endif %}
{% endblock content %}
